<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jean - Desafio 01</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <body>
        <div class="topo">
            <img src="../static/images/logo.png" alt="Logo">
            <span style="margin-left: 440px;">
            <a href="/">Home</a> |
            <a href="quemsomos">Quem somos?</a> |
            <a href="contatos">Contato</a>
            </span>
        </div>

        {% block content %}
        
        {% endblock content%}

        <div class="direitos">
            <br>
            <h4>Todos os direitos reservados</h4>
        </div>
    </body>

</html>