<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jean - Desafio 01</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <body style="background-image:url(static/images/fundo2.png);">
        <div class="topo">

            <img src="static/images/logo.png" alt="Logo">

            <span style="margin-left: 440px;">
            <a href="/">Home</a> |
            <a href="quemsomos">Quem somos?</a> |
            <a href="contato">Contato</a>
            </span>

        </div>
        <div>

            <h2>Entre em contato</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla doloremque autem esse ut iure iusto beatae! Aliquam ab sed provident eveniet, perferendis cupiditate ipsa enim tempore laborum voluptas vitae earum.</p>
        </div>
        <div>
            <hr>
        </div>
        <div>
            <form>
                <label for="email">Seu e-mail:</label><br>
                <input type="email" id="email" name="email"><br>
                <label for="assunto">Assunto:</label><br>
                <input type="text" id="assunto" name="assunto"><br>
                <label for="desc">Descrição:</label><br>
                <textarea name="" id="" cols="19" rows="2"></textarea><br>
                <input type="submit" value="Enviar">
              </form>
        </div>

        <div class="direitos">
            <br>
            <h4>Todos os direitos reservados</h4>
        </div>
    </body>

</html>