<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jean - Desafio 01</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <body>
        <div class="topo">

            <img src="../static/images/logo.png" alt="Logo">

            <span style="margin-left: 440px;">
            <a href="/">Home</a> |
            <a href="quemsomos">Quem somos?</a> |
            <a href="contato">Contato</a>
            </span>

        </div>
        <div>

            <h2>Quem somos</h2>

            <p>Lorem <b>ipsum, dolor</b> sit <i>amet</i> consectetur adipisicing elit. Consectetur optio nobis nisi ratione non tenetur voluptas, architecto culpa aperiam alias perspiciatis sit, eveniet, quidem repellendus explicabo ipsa temporibus! Nisi, dignissimos.Lorem <b>ipsum, dolor</b> sit <i>amet</i> consectetur adipisicing elit. Consectetur optio nobis nisi ratione non tenetur voluptas, architecto culpa aperiam alias perspiciatis sit, eveniet, quidem repellendus explicabo ipsa temporibus! Nisi, dignissimos.<p></p>
        </div>

        <div>
            <h2>5 motivos para estudar</h2>

            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>

            <hr>
        </div>

        <div>
            <h2>Objetivos</h2>
            <p>Lorem <b>ipsum, dolor</b> sit <i>amet</i> consectetur adipisicing elit. Consectetur optio nobis nisi ratione non tenetur voluptas, architecto culpa aperiam alias perspiciatis sit, eveniet, quidem repellendus explicabo ipsa temporibus! Nisi, dignissimos.Lorem <b>ipsum, dolor</b> sit <i>amet</i> consectetur adipisicing elit. Consectetur optio nobis nisi ratione non tenetur voluptas, architecto culpa aperiam alias perspiciatis sit, eveniet, quidem repellendus explicabo ipsa temporibus! Nisi, dignissimos.<p></p>
        </div>
        <div class="direitos">
            <br>
            <h4>Todos os direitos reservados</h4>
        </div>
    </body>

</html>