{% extends 'base.html' %}
{% block content %}

        <div>
            <h2>Entre em contato</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla doloremque autem esse ut iure iusto beatae! Aliquam ab sed provident eveniet, perferendis cupiditate ipsa enim tempore laborum voluptas vitae earum.</p>
        </div>
        <div>
            <hr>
        </div>
        <div>
            <form method="post" action="/contatos">
                <label for="email">Seu e-mail:</label><br>
                <input type="email" name="email" maxlength="45" required><br>
                <label for="assunto">Assunto:</label><br>
                <input type="text" name="assunto" maxlength="45" required><br>
                <label for="desc">Descrição:</label><br>
                <textarea name="desc" cols="19" rows="2" maxlength="255" required></textarea><br>
                <input type="submit" value="Enviar">
              </form>
        </div>

{% endblock content %}