{% extends 'base.html' %}
{% block content %}

        <div>

            <h2>Quem somos</h2>

            <p>Lorem <b>ipsum, dolor</b> sit <i>amet</i> consectetur adipisicing elit. Consectetur optio nobis nisi ratione non tenetur voluptas, architecto culpa aperiam alias perspiciatis sit, eveniet, quidem repellendus explicabo ipsa temporibus! Nisi, dignissimos.Lorem <b>ipsum, dolor</b> sit <i>amet</i> consectetur adipisicing elit. Consectetur optio nobis nisi ratione non tenetur voluptas, architecto culpa aperiam alias perspiciatis sit, eveniet, quidem repellendus explicabo ipsa temporibus! Nisi, dignissimos.<p></p>
        </div>

        <div>
            <h2>5 motivos para estudar</h2>

            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>

            <hr>
        </div>

        <div>
            <h2>Objetivos</h2>
            <p>Lorem <b>ipsum, dolor</b> sit <i>amet</i> consectetur adipisicing elit. Consectetur optio nobis nisi ratione non tenetur voluptas, architecto culpa aperiam alias perspiciatis sit, eveniet, quidem repellendus explicabo ipsa temporibus! Nisi, dignissimos.Lorem <b>ipsum, dolor</b> sit <i>amet</i> consectetur adipisicing elit. Consectetur optio nobis nisi ratione non tenetur voluptas, architecto culpa aperiam alias perspiciatis sit, eveniet, quidem repellendus explicabo ipsa temporibus! Nisi, dignissimos.<p></p>
        </div>

{% endblock content %}